<script type="text/javascript" src="./assets/codeinject.js"></script>
 
 
 
 
<div id="nshelp" class="nshelp_body">
  <div class="nshelp_navheader">
    <table class="nshelp_nav">
      <tbody><tr>
        <td class="nshelp_navhome">
          <a rev="set_N0000001" href="./set_N0000001.html" class="nshelp_navfirst" title="Help Center Home Page" alt="Help Center Home Page">
            <img width="20px" height="20px" src="/help/helpcenter/en_US/Output/Help/css/images/icon_home.gif">
          </a>
        </td>
        <td class="nshelp_navpath">
          <div class="nshelp_navigation">
            <a rev="set_N2453322" href="./set_N2453322.html">SuiteCommerce</a>
            <a rev="book_4260168573" href="./book_4260168573.html">SuiteCommerce Advanced</a>
            <a rev="part_4387345266" href="./part_4387345266.html">Developer’s Guide</a>
            <a rev="section_4307434462" href="./section_4307434462.html">SuiteCommerce Advanced Architecture</a>
            <a rev="section_4307434574" href="./section_4307434574.html">Core Framework Technologies</a>
            <a rev="section_4340366459" href="./section_4340366459.html">Logic-less Templates and Handlebars.js</a>
            <a class="nshelp_navlast" rev="section_4398360221" href="./section_4398360221.html">Templates and the Template Context</a>
          </div>
        </td>
        <td class="nshelp_navbuttons">
          <a href="javascript:void(0)" onclick="parent.printContentFrame(); return false;" title="Print" alt="Print">
            <img width="20px" height="18px" src="/help/helpcenter/en_US/Output/Help/css/images/li-print.png">
          </a>
        </td>
      </tr>
    </tbody></table>
  </div>
  <div class="nshelp_content">
    <div class="nshelp_page">
      <h1 id="section_4398360221" class="nshelp_title">Templates and the Template Context</h1>
      <p><span id="dyn_help_feature" dynid="SUITECOMMERCEENTERPRISE">&nbsp;</span>   </p>
      <p>SuiteCommerce Advanced uses templates to define the HTML code used to display features of the application. Templates perform the following primary tasks:</p>
      <ul class="nshelp">
        <li>
          <p>Define the raw HTML code that displays the user interface of a browser-based application.</p>
        </li>
        <li>
          <p>Contain place holders that are replaced with data passed to the template.</p>
        </li>
      </ul>
      <p>Templates are compiled into functional JavaScript and HTML by a templating engine. SuiteCommerce Advanced uses the Handlebars.js library to define templates and the template engine. The template engine performs the following:</p>
      <ul class="nshelp">
        <li>
          <p>Transforms the raw template file into a JavaScript function.</p>
        </li>
        <li>
          <p>Replaces place holders based on data passed to the template</p>
        </li>
      </ul>
      <h4 id="bridgehead_4398360947">Logic-less Templates</h4>
      <p>Logic-less templates ensure that the HTML code is separated from Application code. All application logic is handled in the view. For example, when the application needs to access data stored in a model, a view handles this interaction. Logic-less templates make the application more modular and ensure that the source code easier to maintain. More importantly, they ensure that when upgrading to a new version, any template customizations are not broken.</p>
      <h4 id="bridgehead_4398361312">Template Compilation</h4>
      <p>The source files for each template contain the raw HTML code as well as Handlebars place holders. When you compile the application, one of the tasks the <code>gulp template</code> command performs is to pre-compile each of the template source files into a JavaScript function. The <code>gulp deploy</code> and <code>gulp local</code> commands call the <code>gulp template</code> command which in turn calls the Handlebars compiler.</p>
      <p>The result of the <code>gulp template</code> command is that the template is transformed into a JavaScript function that can be called by passing a context object. This function is called when the view is rendered. Within the template file, the Handlebars.js place holders are transformed into JavaScript functions. For example the following <code>if</code> construct:</p>
      <pre class="nshelp">{{#if showLanguages}} </pre>
      <p>Is transformed into the following code when the template is compiled:</p>
      <pre class="nshelp">if(context.showLanguages){}</pre>
      <p>Handlebars.js placeholders that do not contain logic are also transformed into JavaScript functions. For example the following HTML code and placeholder:</p>
      <pre class="nshelp">&lt;p&gt;my name is {{userName}}&lt;/p&gt;</pre>
      <p>Is transformed into the following when the template is compiled:</p>
      <pre class="nshelp">function(context){var s = '&lt;p&gt;myname is'; s += context.userName; s += '&lt;/p&gt;'; return s; }</pre>
      <h4 id="bridgehead_4398361544">Interaction Between Templates and Views</h4>
      <p>Since templates do not contain application code and contain minimal logic, the data they require must be passed to them. When calling, the template method passes the context object. Templates only contain logic for performing loops and conditionals. Views contain all of the logic required to display the contents of a template. Views also contain all of the application logic. To display a template, the view calls the template function from the <code>view.render</code> method. For example, when the application is compiled and running, a view’s <code>render</code> method would contain code similar to the following to access the values contained in context object:</p>
      <pre class="nshelp">var context = this.getContext() body.innerHTML = this.template(context)</pre>
      <p>In this example, the view passes the context object to the template function. The object passed to the template is the object returned by the <code>getContext</code> method. In SuiteCommerce Advanced, almost every view contains a <code>getContext</code> method. In general, this method is responsible for returning a context object that contains all of the data required by the template. This object may contain properties that contain data obtained from the model, configuration properties, or other properties the view requires.</p>
      <h4 id="bridgehead_4398361774">Template Context</h4>
      <p>The template's context object returned by the <code>getContext</code> method, can be seen as a contract between the view and the template. The purpose of this contract is to ensure that any customizations you make to the template are not overridden or broken when upgrading to a new version of SuiteCommerce Advance. Any properties within the context object are not removed or modified in future versions. New properties may be added to the context object, but it will always be backward compatible with previous versions.</p>
      <p>To ensure that this contract is maintained, the template only has access to this context object. The view is responsible for providing the context object and defining and respecting the contract in future versions.</p>
      <p>Another area where the template context is important is within composite views. For example, you can customize a child view to use a custom template instead of the default template. When customizing an existing template or creating a new one, if you access the properties contained in the context object, these customizations will be preserved after an upgrade.</p>
      <h4 id="bridgehead_4398472225">Custom Helpers</h4>
      <p>The Handlebars.js library defines helpers that perform functionality beyond that performed by the default placeholders. Handlebars.js defines multiple default helpers.</p>
      <p>In addition to these default helpers, SuiteCommerce Advanced defines <strong>custom</strong> helpers that perform various tasks. These helpers are defined in the HandlebarsExtras.js file located in the JavaScript subdirectory of the HandlebarsExtras application module. The following helpers are defined:</p>
      <ul class="nshelp">
        <li>
          <p><code>translate</code>: returns a safe string that contains a localized version of the string by calling the <code>_.translate</code> function. Returning a safe string ensures that any HTML formatting or other text is preserved.</p>
        </li>
        <li>
          <p><code>formatCurrency</code>: returns a formatted currency value by calling the <code>formatCurrency</code> function.</p>
        </li>
        <li>
          <p><code>highlightKeyword</code>: returns a highlighted keyword by calling the <code>_.highlightKeyword</code> function. For example, the site_search_item.tpl template file uses this helper to highlight search results within a page using the following:</p>
          <pre class="nshelp">{{highlightKeyword model._name query}}</pre>
        </li>
        <li>
          <p><code>displayMessage</code>: creates an instance of a GlobalViewsMessageView view and renders the view.</p>
        </li>
        <li>
          <p><code>objectToAtrributes</code>: returns the attributes of an object, causing them to be displayed in the template. This helper calls the <code>_.objectToAtrributes</code> method.</p>
        </li>
        <li>
          <p><code>each</code>: defines a custom each helper that supports a Backbone.js collection. This helper iterates through each item of the collection.</p>
        </li>
        <li>
          <p><code>resizeImage</code>: builds URL images using the imageSizeMapping utility. This helper passes a URL and an object containing the dimensions of the image to this utility. It returns a normalized URL image based on these values.</p>
        </li>
        <li>
          <p><code>fixUrl</code>: returns a valid URL by calling the <code>_.fixURL</code> utility.</p>
        </li>
        <li>
          <p><code>trimHtml</code>: returns a trimmed HTML string based on the length passed to the helper. This helper calls the <code>jQuery.trim</code> method. The string returned can contain HTML elements.</p>
        </li>
        <li>
          <p><code>breaklines</code>: places break tags (<code>&lt;br/&gt;</code>) instead of new lines provided by the backend. Use this in Quotes, Returns, Case, and Review Order messages.</p>
        </li>
        <li>
          <p><code>ifEquals</code>: creates an equality condition to a Handlebars {{if}} helper. The following example depicts use for a custom transaction body field:</p>
          <pre class="nshelp"> {{#ifEquals model.options.custbody_my_transaction_body_field_2 'T'}}
    This is true
{{else}}
    This is false
{{/ifEquals}} </pre>
        </li>
      </ul>
      <div class="nshelp_relatedtopics">
        <h3 class="nshelp_relatedtopics">Related Topics</h3>
        <div class="nshelp_toc">
          <div class="nshelp_navigation">
            <dl>
              <dt>
                <span class="nshelp_toc">
                  <a rev="section_4340366459" href="./section_4340366459.html">Logic-less Templates and Handlebars.js</a>
                </span>
              </dt>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="nshelp_footer" class="nshelp_footer">
    <div class="nshelp_navigation">
      <p class="nshelp_footer_notices">
        <a rev="chapter_N000004" href="./chapter_N000004.html">General Notices</a>
      </p>
      <p>
        <a rev="chapter_N000004" href="./chapter_N000004.html">© 2017 NetSuite Inc.</a>
      </p>
    </div>
  </div>
</div> 
 

