<script type="text/javascript" src="./assets/codeinject.js"></script>
 
 
 
 
<div id="nshelp" class="nshelp_body">
  <div class="nshelp_navheader">
    <table class="nshelp_nav">
      <tbody><tr>
        <td class="nshelp_navhome">
          <a rev="set_N0000001" href="./set_N0000001.html" class="nshelp_navfirst" title="Help Center Home Page" alt="Help Center Home Page">
            <img width="20px" height="20px" src="/help/helpcenter/en_US/Output/Help/css/images/icon_home.gif">
          </a>
        </td>
        <td class="nshelp_navpath">
          <div class="nshelp_navigation">
            <a rev="set_N2453322" href="./set_N2453322.html">SuiteCommerce</a>
            <a rev="book_4260168573" href="./book_4260168573.html">SuiteCommerce Advanced</a>
            <a rev="part_4782714584" href="./part_4782714584.html">Commerce Features</a>
            <a rev="section_4443924472" href="./section_4443924472.html">Feature Access Permissions</a>
            <a class="nshelp_navlast" rev="section_3924206105" href="./section_3924206105.html">My Account Menu Permissions</a>
          </div>
        </td>
        <td class="nshelp_navbuttons">
          <a href="javascript:void(0)" onclick="parent.printContentFrame(); return false;" title="Print" alt="Print">
            <img width="20px" height="18px" src="/help/helpcenter/en_US/Output/Help/css/images/li-print.png">
          </a>
        </td>
      </tr>
    </tbody></table>
  </div>
  <div class="nshelp_content">
    <p style="display:none" class="nshelp_category_tags" value=" SCA  SCA_MONTBLANC  SCA_VINSON  SCA_ELBRUS "></p>
    <div class="nshelp_sidebar_right">
      <div class="nshelp_category_box">
        <img width="17px" height="17px" title="This topic applies to" alt="This topic applies to" src="/help/helpcenter/en_US/Output/Help/css/images/icon_info.png">
        <p>Applies to</p>
      </div>
      <div class="nshelp_category_info">
        <p>SuiteCommerce Advanced | Mont Blanc | Vinson | Elbrus</p>
      </div>
    </div>
    <div class="nshelp_page">
      <h1 id="section_3924206105" class="nshelp_title">My Account Menu Permissions</h1>
      <p><span id="dyn_help_feature" dynid="SUITECOMMERCEENTERPRISE">&nbsp;</span>   </p>
      <p>The My Account application contains a menu that provides links to different features within the application. This menu is available in the following locations:</p>
      <ul class="nshelp">
        <li>
          <p>The sidebar menu.</p>
        </li>
        <li>
          <p>The application header.</p>
        </li>
      </ul>
      <p>SuiteCommerce Advanced generates each of these menus dynamically based on feature areas the user has permissions to access. By default, the SuiteCommerce Advanced uses the NetSuite roles and permissions of the currently-logged-in user to determine which menu actions are displayed. For example, if a user does not have permission to view the Order History in NetSuite, the Order History &amp; Returns link is not displayed in the My Account menu for that user.</p>
      <p>However, the mechanism for generating the menu items based on permissions is different for each menu. Permissions attributes are set for each view as needed and then in the template files those permissions attributes are used to determine which links to display.</p>
      <h2 id="bridgehead_4419346320">Header Menu</h2>
      <p>The Header application module displays the application header. The header_menu_myaccount.tpl template defines each menu and submenu item in the HTML. To determine which menu items the user has permissions to view, the HTML tests the permissions based on the values of the <code>data-permissions</code> attribute.</p>
      <p>For example, in the following code snippet from header_menu_mayaccount.tpl, the <code>div</code> is displayed only when the permissions for the currently logged in user matches both data-permissions attributes listed.</p>
      <pre class="nshelp">&lt;a class="header-menu-myaccount-anchor-level3" href="#" data-touchpoint="customercenter" data-hashtag="#returns" data-permissions="transactions.tranFind.1,transactions.tranRtnAuth.1" name="returns"&gt;
   {{translate 'Returns'}}
   &lt;/a&gt;</pre>
      <h2 id="bridgehead_4419346900">Account Overview Menu</h2>
      <p>The Account Overview menu is generated automatically when the My Account application is loaded. Each application module that defines a feature with a corresponding menu item returns an object called <code>MenuItems</code>. This object is generally defined within the entry point module. For example, the following code snippet from the Quote.js file defines the menu item that appears in the Account Overview menu:</p>
      <pre class="nshelp">MenuItems: {
         parent: 'orders'
      ,   id: 'quotes'
      ,   name: _('Quotes').translate()
      ,   url: 'quotes'
      ,   index: 5
      ,   permission: 'transactions.tranFind.1,transactions.tranEstimate.1'
      }</pre>
      <p>After all modules are loaded into the application, the MyAccount.on method of the SC.MyAccount module loads each menu item into an array.</p>
      <div class="nshelp_relatedtopics">
        <h3 class="nshelp_relatedtopics">Related Topics</h3>
        <div class="nshelp_toc">
          <div class="nshelp_navigation">
            <dl>
              <dt>
                <span class="nshelp_toc">
                  <a rev="section_4443924472" href="./section_4443924472.html">Feature Access Permissions</a>
                </span>
              </dt>
              <dt>
                <span class="nshelp_toc">
                  <a rev="section_4411997949" href="./section_4411997949.html">Customer Center Custom Permissions</a>
                </span>
              </dt>
            </dl>
          </div>
        </div>
      </div>
      <h2 id="bridgehead_4450229479">Forbidden Access</h2>
      <p>Although the My Account application only enables features that a user has permission to access, it is possible they may attempt to access a page they do not have permission to view. The ErrorManagement.ForbiddenError.View module of the ErrorManagement application module displays an error message if a user does not have permission to access a feature. By default, the template for this view displays the following error message:</p>
      <p>
        <em>“Sorry! You have no permission to view this page. Please contact the website administrator, click here to continue.”</em>
      </p>
      <p>You can customize this template as needed for your web store.</p>
    </div>
  </div>
  <div id="nshelp_footer" class="nshelp_footer">
    <div class="nshelp_navigation">
      <p class="nshelp_footer_notices">
        <a rev="chapter_N000004" href="./chapter_N000004.html">General Notices</a>
      </p>
      <p>
        <a rev="chapter_N000004" href="./chapter_N000004.html">© 2017 NetSuite Inc.</a>
      </p>
    </div>
  </div>
</div> 
 

