<script type="text/javascript" src="./assets/codeinject.js"></script>
 
 
 
 
<div id="nshelp" class="nshelp_body">
  <div class="nshelp_navheader">
    <table class="nshelp_nav">
      <tbody><tr>
        <td class="nshelp_navhome">
          <a rev="set_N0000001" href="./set_N0000001.html" class="nshelp_navfirst" title="Help Center Home Page" alt="Help Center Home Page">
            <img width="20px" height="20px" src="/help/helpcenter/en_US/Output/Help/css/images/icon_home.gif">
          </a>
        </td>
        <td class="nshelp_navpath">
          <div class="nshelp_navigation">
            <a rev="set_N2453322" href="./set_N2453322.html">SuiteCommerce</a>
            <a rev="book_4260168573" href="./book_4260168573.html">SuiteCommerce Advanced</a>
            <a rev="part_4387345266" href="./part_4387345266.html">Developer’s Guide</a>
            <a rev="section_4307434462" href="./section_4307434462.html">SuiteCommerce Advanced Architecture</a>
            <a rev="section_4307434574" href="./section_4307434574.html">Core Framework Technologies</a>
            <a class="nshelp_navlast" rev="section_4340366459" href="./section_4340366459.html">Logic-less Templates and Handlebars.js</a>
          </div>
        </td>
        <td class="nshelp_navbuttons">
          <a href="javascript:void(0)" onclick="parent.printContentFrame(); return false;" title="Print" alt="Print">
            <img width="20px" height="18px" src="/help/helpcenter/en_US/Output/Help/css/images/li-print.png">
          </a>
        </td>
      </tr>
    </tbody></table>
  </div>
  <div class="nshelp_content">
    <div class="nshelp_page">
      <h1 id="section_4340366459" class="nshelp_title">Logic-less Templates and Handlebars.js</h1>
      <p><span id="dyn_help_feature" dynid="SUITECOMMERCEENTERPRISE">&nbsp;</span>   </p>
      <p>Another advantage of the Backbone.js libraries is that it provides open support for web templates and templating engines. Web templates contain the raw HTML of the SuiteCommerce website user interface. Each module that contains Backbone.js views uses a template to define the corresponding HTML. These files are stored in the Templates directory.</p>
      <p>Templates define the HTML for discrete areas or features of the user interface. The template engine combines all of the template files into a single, finished web page.</p>
      <p>SuiteCommerce Advanced uses the Handlebars.js library to implement templates and the template engine. One advantage of Handlebars.js is that it provides logic-less templates. This means that most of the business logic of the application is handled outside of the template. Within the Backbone.js framework, this logic is handled by the view. Using logic-less templates means that the HTML within the template is much easier to understand.</p>
      <p>Although Handlebars.js is considered a logic-less template it does provide basic logical constructs. These are defined by Handlebars.js helpers. Helpers are primarily used to evaluate values of placeholders and display the appropriate HTML. Placeholders are like variables that contain information that is added to the HTML when the template is generated. This information is passed to the template by the <code>getContext</code> method of a view.</p>
      <p>The following code snippet from the <code>case_list.tpl</code> template file shows how these are used to display the user interface according to the current state of the application.</p>
      <pre class="nshelp">&lt;div class="case-list-results-container"&gt;
      {{#if hasCases}}
         &lt;table class="recordviews-table"&gt;
            ...
            ...
            ...
         &lt;/table&gt;
      {{else}}
         {{#if isLoading}}
            &lt;p class="case-list-empty"&gt;{{translate 'Loading...'}}&lt;/p&gt;
         {{else}}
            &lt;p class="case-list-empty"&gt;{{translate 'No cases were found'}}&lt;/p&gt;
         {{/if}}
      {{/if}}</pre>
      <p>In this example, the Handlebars.js engine evaluates the <code>hasCases</code> placeholder. This place holder corresponds to a property in the object passed to the template engine from the <code>getContext</code> method of the view. <code>hasCases</code> is a boolean property. If its value is true, the template engine outputs a table. If its value is false, the template engines checks the value of the <code>isLoading</code> property which is also passed from the <code>getContext</code> method. The template engine displays a message based on the value of this property.</p>
      <p>In the above example, the <code>if</code> statement is an example of a default Handlebars.js helper. SuiteCommerce Advanced provides additional helpers that you can use in your templates. See <a rev="section_4398360221" href="./section_4398360221.html#bridgehead_4398472225">Custom Helpers</a>.</p>
      <div class="nshelp_relatedtopics">
        <h3 class="nshelp_relatedtopics">Related Topics</h3>
        <div class="nshelp_toc">
          <div class="nshelp_navigation">
            <dl>
              <dt>
                <span class="nshelp_toc">
                  <a rev="section_4340361659" href="./section_4340361659.html">Model View Controller (MVC) and Backbone.js</a>
                </span>
              </dt>
              <dt>
                <span class="nshelp_toc">
                  <a rev="section_4340365862" href="./section_4340365862.html">Asynchronous Module Definitions (AMD) and RequireJS</a>
                </span>
              </dt>
              <dt>
                <span class="nshelp_toc">
                  <a rev="section_4307434574" href="./section_4307434574.html">Core Framework Technologies</a>
                </span>
              </dt>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="nshelp_footer" class="nshelp_footer">
    <div class="nshelp_navigation">
      <p class="nshelp_footer_notices">
        <a rev="chapter_N000004" href="./chapter_N000004.html">General Notices</a>
      </p>
      <p>
        <a rev="chapter_N000004" href="./chapter_N000004.html">© 2017 NetSuite Inc.</a>
      </p>
    </div>
  </div>
</div> 
 

