<script type="text/javascript" src="./assets/codeinject.js"></script>
 
 
 
 
<div id="nshelp" class="nshelp_body">
  <div class="nshelp_navheader">
    <table class="nshelp_nav">
      <tbody><tr>
        <td class="nshelp_navhome">
          <a rev="set_N0000001" href="./set_N0000001.html" class="nshelp_navfirst" title="Help Center Home Page" alt="Help Center Home Page">
            <img width="20px" height="20px" src="/help/helpcenter/en_US/Output/Help/css/images/icon_home.gif">
          </a>
        </td>
        <td class="nshelp_navpath">
          <div class="nshelp_navigation">
            <a rev="set_N2453322" href="./set_N2453322.html">SuiteCommerce</a>
            <a rev="book_4260168573" href="./book_4260168573.html">SuiteCommerce Advanced</a>
            <a rev="part_4387346855" href="./part_4387346855.html">Designer’s Guide</a>
            <a rev="chapter_4258842978" href="./chapter_4258842978.html">Design Architecture</a>
            <a class="nshelp_navlast" rev="section_4337931758" href="./section_4337931758.html">Design Hierarchy</a>
          </div>
        </td>
        <td class="nshelp_navbuttons">
          <a href="javascript:void(0)" onclick="parent.printContentFrame(); return false;" title="Print" alt="Print">
            <img width="20px" height="18px" src="/help/helpcenter/en_US/Output/Help/css/images/li-print.png">
          </a>
        </td>
      </tr>
    </tbody></table>
  </div>
  <div class="nshelp_content">
    <div class="nshelp_page">
      <h1 id="section_4337931758" class="nshelp_title">Design Hierarchy</h1>
      <p><span id="dyn_help_feature" dynid="SUITECOMMERCEENTERPRISE">&nbsp;</span>   </p>
      <p>Sass styles are organized in a hierarchy as follows:</p>
      <ul class="nshelp">
        <li>
          <p><a rev="section_4337931758" href="#bridgehead_4337917401">Base Sass Styles</a>: These are the basic components designed to be combined and reused across the site.</p>
        </li>
        <li>
          <p><a rev="section_4337931758" href="#bridgehead_4337926968">Template Specific Styles</a>: Sass styles specific to a page or template are defined here. These are extensions and combinations of the base components.</p>
        </li>
        <li>
          <p><a rev="section_4337931758" href="#bridgehead_4337927340">Application Level Styles</a>: Within the Base Sass Styles, you can define components that are referenced from a specific application: ShopFlow, My Account, or Checkout. This lets you define unique styling for each application experience.</p>
        </li>
      </ul>
      <img class="nshelp_diagram_lightbox" rel="prettyPhoto" title="Click to enlarge image" src="/help/helpcenter/en_US/Output/Help/images/SuiteCommerce/SCAWebStores/Design/sass-hierarchy.png" width="630px" height="220px">
      <h2 id="bridgehead_4337917401">Base Sass Styles</h2>
      <p>In SuiteCommerce Advanced core styles are defined as reusable components. Core reusable components can then be iteratively combined to create increasingly complex structures such as templates and pages. All basic components are defined within the <strong>BaseSassStyles</strong> folder at Modules &gt; suitecommerce &gt; BaseSassStyles. Components are categorized into three different types:</p>
      <ul class="nshelp">
        <li>
          <p><strong>atoms</strong>: basic building blocks to be used within other structures. For example, buttons, messages, and forms.</p>
        </li>
        <li>
          <p><strong>molecules</strong>: simple combinations of atoms. Molecules are built for reuse but serve different purposes depending on the page context.</p>
        </li>
        <li>
          <p><strong>variables</strong>: basic styling rules such as spacing and typography, that are then referenced and extended in atoms and molecules.</p>
        </li>
      </ul>
      <h2 id="bridgehead_4337926968">Template Specific Styles</h2>
      <p>Each module contains a Sass folder that defines styling rules specific to the templates used for that module. Within these Sass files, the Base Sass Style components are used as the starting point and then extended as needed. There is generally a single Sass file corresponding to each template file within a module.</p>
      <p>For example, the Address module has a <strong>address-details.tpl</strong> file in the Templates folder of the module with a corresponding <strong>_address-details.scss</strong> Sass file in the Sass folder of the module. Within the _address-details.tpl file the <code>address-details-remove-address</code> class is referenced. This class is defined in the _address-details.scss file where base classes are extended to add styles specific for this template.</p>
      <p>
        <strong>Class Referenced in Template File:</strong>
      </p>
      <pre class="nshelp">{{#if showRemoveButton}}
   &lt;button class="address-details-remove-address" data-action="remove" data-id="{{internalid}}" {{#if isInvalidAddressToRemove}}disabled{{/if}}&gt;
      {{translate 'Remove'}}
   &lt;/button&gt;
{{/if}}</pre>
      <p>
        <strong>Class Defined in Sass File:</strong>
      </p>
      <pre class="nshelp">   .address-details-remove-address {
    @extend .button-edit;
    margin-right: $sc-base-margin * 2;
    cursor: pointer;
}</pre>
      <h2 id="bridgehead_4337927340">Application Level Styles</h2>
      <p>In addition to defining styles specific to a module using template-specific classes, you can define styles to be specific to each application. The ShopFlow, My Account, and Checkout experiences can all have a unique design.</p>
      <p>By default, for each application module, there is a single <strong>layout</strong> Sass file with several application specific style extensions defined.</p>
      <ul class="nshelp">
        <li>
          <p>_shopping-layout.scss</p>
        </li>
        <li>
          <p>_myaccount-layout.scss</p>
        </li>
        <li>
          <p>_myaccount-layout-sb.scss</p>
        </li>
        <li>
          <p>_checkout-layout.scss</p>
        </li>
      </ul>
      <p>Also, you can define application specific dependencies for Base styles or customizations in the SuiteCommerce Advanced distro.json file. Each module listed in the <code>modules</code> object within the distro.json file must also be added as a dependency to the appropriate application in the <code>sass</code> object before styles defined in those modules are compiled by gulp.</p>
      <p>For example, suppose you have defined some custom styles in a new custom module called ItemDetailsExtension@1.0.0. If you want those styles to be compiled only within the Shopping application, you must add the <code>ItemDetailsExtension</code> module to the <code>modules</code> object and then add that module as a dependency to the Shopping application in the <code>sass</code> object.</p>
      <p>The following code snippet shows the <code>ItemDetailsExtension</code> module added as a dependency to Shopping.</p>
      <pre class="nshelp">"tasksConfig": {
//..
"sass": {
    //...
    "applications": [
        {
            "name": "Shopping",
            "exportFile": "shopping.css",
            "dependencies": [
                //...
                "SocialSharing",
                "CMSadapter",
                "RequestQuoteAccessPoints",
                "ItemDetailsExtension"
            ]
        },
        {
            "name": "MyAccount",
            "exportFile": "myaccount.css",
            "dependencies"  [
                //...
                "CreditMemo",
                "TransactionHistory",
                "Balance",
                "Wizard"
            ]

        },
        {
            "name": "Checkout",
            "exportFile": "checkout.css",
            "dependencies"  [
                //...
                "RequestQuoteWizard",
                "ItemsSearcher",
                "SiteSearch",
                "SocialSharing"
            ]

        }
    ]
}
</pre>
      <div class="nshelp_imp">
        <h3>Important</h3>
        <p class="nshelp_first">For more detailed instructions on customization techniques, see <a rev="section_3705381013" href="./section_3705381013.html">Customize and Extend</a>.</p>
      </div>
      <br>
      <div class="nshelp_relatedtopics">
        <h3 class="nshelp_relatedtopics">Related Topics</h3>
        <div class="nshelp_toc">
          <div class="nshelp_navigation">
            <dl>
              <dt>
                <span class="nshelp_toc">
                  <a rev="section_4337927610" href="./section_4337927610.html">Mobile First</a>
                </span>
              </dt>
              <dt>
                <span class="nshelp_toc">
                  <a rev="chapter_4258842978" href="./chapter_4258842978.html">Design Architecture</a>
                </span>
              </dt>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="nshelp_footer" class="nshelp_footer">
    <div class="nshelp_navigation">
      <p class="nshelp_footer_notices">
        <a rev="chapter_N000004" href="./chapter_N000004.html">General Notices</a>
      </p>
      <p>
        <a rev="chapter_N000004" href="./chapter_N000004.html">© 2017 NetSuite Inc.</a>
      </p>
    </div>
  </div>
</div> 
 

