
/* general one off pages styles */

.uir-hoverable-anchor,
.dottedlink{
    color: #255599 !important;
    text-decoration: none !important;
    border-bottom: none !important;
}

a.uir-hoverable-anchor:hover,
.dottedlink:hover {
    text-decoration: underline !important;
}

/* exportproductfeeds specific styles */
#handle_exportproductfeeds td {
    font-Size : 14px
}
#handle_exportproductfeeds {
    margin-top: 10px
}

#handle_backup .portletTitleText {
    display: inline-block;
    font-size: 32px;
    color: #999999;
    font-weight: normal;
}

/* Setup Manager*/

/***************** SETUP MANAGER ***************/
/* Hide Elements */
#tbl_search_fields td,
.uir-rightpaneentryform-border,
.uir-rightpaneentryform-heading,
.uir-rightpaneentryform-hide,
.uir-rightpaneentryform-header,
#navpanediv table tr.catgrouptr td img {
    display: none !important;
}

.uir-rightpaneentryform-header.webmanager {
    display: table !important;
}

.uir-rightpaneentryform-header.webmanager,
.uir-rightpaneentryform-header.webmanager * {
    background-color: white !important;
    color: #4D5F79 !important;
}

/* Remove border on Elements */
#tbl_search_fields,
#tbl_search_fields *,
.uir-rightpaneentryform-left,
.uir-rightpaneentryform-header-table,
.uir-rightpaneentryform-container > table {
    border: none !important;
    background: none !important;
    padding: 0 !important;
}

.uir-rightpaneentryform-container {
    border: 2px solid #DFDFDF!important;
}



#tbl_search_fields td#tdbody_search_fields {
    display: table-cell !important;
}
#tbl_search_fields input#search_fields {
    background: transparent url('/uirefresh/img/find.png') center 50% no-repeat !important;
    font-size: 0 !important;
    display: inline-block !important;
    width: 32px;
    height: 32px;
    border: none !important;
}


.uir-webmanagerform-searchbar {
    margin-left: 10px;
}

#div__nav,
#srchstp_b,
.uir-rightpaneentryform-search,
.uir-rightpaneentryform-container > table,
.uir-rightpaneentryform-search > div:nth-child(2) {
    background: #F7F7F7 !important;
    border: none !important;
}
#div_rightpane {
    border: none !important;
}

#td_rghtpane_title,
#td_rghtpane_title * {
    background: #FFFFFF;
    border: none;
    color: #4d5f79;
}
#td_rghtpane_title  .uir-rightpaneentryform-right-header {
    padding-left: 5px;
    font-size: 22px;
    font-weight: normal !important;
}
#td_rghtpane_title .uir-rightpaneentryform-right-header {
    padding-right: 15px;
}

.uir-rightpaneentryform-dragger + td {
    padding: 0px !important;
    background: white;
}



/* Left-Panel Menu */

.uir-rightpaneentryform-left,
.uir-rightpaneentryform-dragger {
    border-right: 1px solid #DFDFDF !important;
}
.uir-rightpaneentryform-search > table {
    border-bottom: none !important;
}

#navpanediv table {
    width: 100% !important;
}
#navpanediv table tr td {
    height: 28px;
    background: #F7F7F7 !important;
}
/*-first level menu item*/
#navpanediv > table > tbody > tr > td.smallgraytextbold {
    cursor: pointer;
}
/*-second level menu item group*/
#navpanediv table tr.catgrouptr td {
    background: #FFFFFF !important;
    padding-left: 5px !important;
}
#navpanediv table tr.catgrouptr > td {
    padding-left: 0 !important;
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
}
#navpanediv table tr.catgrouptr td table td span.tinygraytext a {
    font-size: 10px;
}
#navpanediv table tr.catgrouptr td table td span.tinygraytext {
    padding-left: 10px;
    visibility: hidden;
}
#navpanediv table tr.catgrouptr td table td:hover span.tinygraytext {
    visibility: visible;
}
/*-second level header*/
#navpanediv tr.uir-rightpaneentryform-left-subcat-header td {
    text-transform: uppercase;
    padding-left: 10px !important;
}
#navpanediv tr.uir-rightpaneentryform-left-subcat-header b {
    font-weight: normal;
}
/*-second level item*/
#navpanediv table tr.catgrouptr a.textwhitenolink,
#navpanediv table tr.catgrouptr a.smalltextnolink {
    font-size: 12px;
}
#navpanediv table tr.catgrouptr tr:not(.uir-rightpaneentryform-left-subcat-header):hover td,
#navpanediv table tr.catgrouptr tr.uir-rightpaneentryform-left-selected td {
    background: #5F7186 !important;
    color: #FFFFFF !important;
}

#navpanediv table tr.catgrouptr tr:not(.uir-rightpaneentryform-left-subcat-header):hover td *,
#navpanediv table tr.catgrouptr tr.uir-rightpaneentryform-left-selected td * {
    color: #FFFFFF !important;
}



/* Field Arrangement */
.uir-field-arrangement {

}
.uir-field-arrangement > tbody > tr > td {
    background: none !important;
}
.uir-field-arrangement > tbody > tr:first-of-type > td {
    background: #F0F2F5 none !important;
    padding: 10px;
    color: #4E7BA5;
    font-size: 14px;
    font-weight: 600;
}

.uir-field-arrangement > tbody > tr > td > img
{
    display: none;
}

.uir_setupmanager_overview > a {font-size: 16px; color: #255599; text-decoration: none}
.uir_setupmanager_text > b {font-weight: normal}
.uir_setupmanager_overview > a > b {font-weight: normal}
.uir_setupmanager_overview > a > font {color: inherit}
.uir_setupmanager_item {margin-left: 10px; margin-bottom: 15px; color: #666666}
.uir_setupmanager_list {margin-top: 10px}
.uir_setupmanager_infotext {margin-top: 10px; color: #666666}
.uir_setupmanager_text {color: #666666}


/* Web Site Content Manager*/
.uir-websitecontentmanager-topbar-link {
    color: #255599 !important;
    font-size: 14px;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
}

.uir-websitecontentmanager-topbar-arrow {
    margin-left: 2px;
}

.uir-websitecontentmanager-topbar-link img[src$="/images/nav/stretch.gif"]
{
    display: none;
}

.uir-websitecontentmanager-tobpar-new {
    display: none;
}

.uir-websitecontentmanager-topbar-title {
    font-size: 22px;
    padding-left: 10px !important;
}

.uir-tree-node-inactive {
    color: #c8c8c8 !important;
}

.uir-tree-node {
    color: #666666;
    font-size: 14px;
    padding-top : 5px;
    padding-bottom: 5px;
}

.uir_assistant_leftpanel_list {
    list-style: none !important;
    margin-left: 20px !important;
    margin-top:10px !important;
}

#uncatdiv img[src$="/images/nav/tree/blank.png"]  {
    display: none;
}

#uncatdiv .treeNodeRow {
    padding-left: 15px;
}

.uir_assistant_step_number {margin-right: 5px}

.uir_assistant_leftpanel_header {
    padding-left:5px;
    padding-top: 5px;
    padding-bottom: 2px;
    cursor: pointer;
}
.uir_assistant_leftpanel_helpericon {width:12px; float: left}
.uir_assistant_leftpanel_label {padding-left: 10px;
    font-size: 14px;
    text-align: left !important;
    text-transform:uppercase;
    color: #333333;
    cursor: pointer;
}

.uir_assistant_leftpanel_rightsidehtml {
    float:right;
}

.uir_assistant_leftpanel_rightsidehtml > span {
    font-size: 12px;
    color: #255599;
}

.uir-tree-node-focused {
    color: white !important;
    font-size: 14px;
}

img[openIcon] {
    display: none;
}

img[src$="/images/nav/tree/t.gif"], img[src$="/images/nav/tree/l.gif"], img[src$="/images/nav/tree/bar.gif"] {
    visibility: hidden;
}

img[src$="/images/nav/tree/minus.png"], img[src$="/images/nav/tree/plus.png"] {
    padding: 3px;
    width: 18px;
    height: 18px;
}


/* Import Field Mapper */

.uir-tree-node-with-icon {
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 25px;
}

.uir-import-fm-itemchecked {
    background-image: url(/images/icons/import/item_checked.gif);
}

.uir-import-fm-treefield {
    background-image: url(/images/icons/import/treefield.gif);
}

.uir-import-fm-nscustomg {
    background-image: url(/images/icons/import/ns_custom_g.gif);
}

.uir-import-fm-nskeyg {
    background-image: url(/images/icons/import/ns_key_g.gif);
}
.uir-import-fm-uir-import-fm-nsg {
    background-image: url(/images/icons/import/ns_g.gif);
}

.uir-import-fm-nscustom {
    background-image: url(/images/icons/import/ns_custom.gif);
}

.uir-import-fm-nskey {
    background-image: url(/images/icons/import/ns_key.gif);
}

.uir-import-fm-ns {
    background-image: url(/images/icons/import/ns.gif);
}

.uir-tree-node-parent-focused {
    background-color: #4D5F79;
    color: #FFFFFF;
}

/*.uir-tree-node-parent-focused img[src$="/images/nav/tree/minus.png"] {*/
    /*visibility: hidden;*/
/*}*/

.uir-tree-node-parent-focused img[src$="/images/nav/tree/plus.png"] {
    visibility: hidden;
}


.uir-webcontentmanager-showbar > img {
    padding-left: 2px;
}

.uir-webcontentmanager-showbar {
    margin-right: 10px;
}

.treeNodeRow * {
    font-size: 14px !important;
}

.treeNodeRow {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
}

#tree_main_b {
    padding-left: 0px !important;
}

.uir-webcontentmanager-navpane {
    background-color: white !important;
}

.uir-rightpageentryform-mainbodysteptitle {
    padding-top: 5px;
}

.uir_list_top_button_bar {
    vertical-align: middle;
}

#uir-right-layout-editor {
    margin-left:10px;
}

div.uir-editor-group-container > table > tbody > tr:last-child > td.uir-editor-group  {
    border-bottom:solid 1px #CCCCCC;
}

.uir-editor-group {
    border:solid 1px #D5D5D5;
    border-bottom:none;
    font-size:14px;
    padding: 0px 10px 5px 12px;
    color: #4d4d4d;
}

.uir-editor-group-title {
    padding:5px 5px 10px 0;
    font-size: 14px;
    color: #5A5A5A;
    font-weight: bold;
}

.uir-editor-group > table > tbody > tr > td {
    white-space: nowrap;
}

.uir-editor-group div.uir-field-wrapper span.uir-label > span {
    margin: 0px 0px 5px 0px;
}

.uir-editor-group div.uir-field-wrapper span.uir-field.inputreadonly {
    display:inline-block;
    padding-bottom: 7px;
}

.uir-editor-group div.uir-field-wrapper span.uir-field.inputreadonly > span > input:first-child {
    margin-left: 0px;
}

#tbl_addcustelement.uir-button {
    margin-right: 0px !important;
}

#uir-right-layout-editor > table > tbody > tr:last-child > td.uir-editor-group {
    padding-bottom:10px;
}

#tr_fg_Colors .uir-color-chip,
#tr_fg_Colors .uir-color-chip-helper {
    vertical-align: bottom;
    padding-bottom:3px;
}

#tr_fg_Colors .uir-color-chip > div {
    border: 1px #cccccc solid;
}

#tr_fg_Colors table.table_fields > tbody > tr:last-child > td > div.uir-field-wrapper:last-child {
    margin-bottom: 0px;
}

#tbl_pal_fields {
    margin-top:25px;
}

input#focuser.invisiblebutfocusable {
    padding: 0px;
    border: none !important;
}


/* bundlelist */
.bundlelist_imgaction {background: url('/images/dashboard/dashboard-icons.png') -50px -800px; width: 26px; height:17px; display: inline-block}

/* bundlebuilder */
.uir-bundlebuilder-content-item {font-size: 14px;}
.uir-bundlebuilder-content-infomessage {font-size: 14px}
#bundlebuilder_summgrpdiv {font-size: 14px}
.uir-bundlebuilder-objects-item-label {font-size: 14px}
.uir-bundlebuilder-content-head {font-size: 14px}

/*  workflow log */
#uir-workflow-showrejected-label {font-size: 14px;}/* Reskin of legacy report builder UI */


.ns-report-builder-container .uir-rightpaneentryform-rightpane {
    padding: 10px 0px 0px 30px !important;
}

.ns-report-builder-container .ns-steps-container {
    padding: 4px 5px;
}
#div_tree_pane_toolbar #tbl_addFormulaField {
    margin-bottom: 5px;
}
.ns-report-builder-container #div__nav{
    padding-top:9px;
    margin-left: 5px;
}

.ns-report-builder-container #movebuttons {
    margin-top: 6px;
}

.ns-report-builder-container #div_help_pane {
    height:135px !important;
}

.ns-report-builder-container .rptpreviewtextblack,
.ns-report-builder-container .rptpreviewtext,
.ns-report-builder-container .rptpreviewtextrt,
.ns-report-builder-container .rptpreviewtextgray,
.ns-report-builder-container .rptpreviewrawtext,
.ns-report-builder-container .rptpreviewheaderrt {
    font-size: 14px !important;
}

.ns-report-builder-container #dtab_column_fields table:first-of-type:not(.selector-filters) > tbody > tr > td,
.ns-report-builder-container #dtab_column_fields table:first-of-type:not(.selector-filters) > tbody > tr,
.ns-report-builder-container #dtab_column_fields table:first-of-type:not(.selector-filters) > tbody,
.ns-report-builder-container #dtab_column_fields table:first-of-type:not(.selector-filters) {
    display: block;
    text-align:left;
    font-size:14px;
}

.ns-report-builder-container #dtab_column_fields table:first-of-type:not(.selector-filters) > tbody > tr > td:first-child span:first-child,
.ns-report-builder-container #dtab_column_fields table:first-of-type:not(.selector-filters) > tbody > tr > td a {
      font-size:14px;
      color:#666666;
}
.ns-report-builder-container #dtab_column_fields table:first-of-type:not(.selector-filters) > tbody > tr > td input {
    color:#545454 !important;
    margin:0px;
}

.ns-report-builder-container #dtab_column_fields table:first-of-type:not(.selector-filters) > tbody tr {
    margin-bottom:14px;
}

.ns-report-builder-container #dtab_column_fields table > tbody tr.ns-fieldset-checkbox-row > td {
    display:inline-block;
}
.ns-report-builder-container #dtab_column_fields table > tbody tr.ns-fieldset-checkbox-row {
    vertical-align:top;
}

.ns-report-builder-container #dtab_column_fields table:first-of-type:not(.selector-filters) > tbody tr td:first-child {
    margin-bottom:5px;
}
.ns-report-builder-container #labelfmt  {
    margin-right: 30px;
}

.ns-report-builder-container .ns-fieldset-label {
    margin-left:-5px;
    background-color: #E0E6EF;
    padding: 10px 8px 5px 2px;
}

.ns-report-builder-container #labelfmt span.inputgraybold {
    font-size: 15px !important;
    color: #5A6F8F !important;
    font-weight: bold;
}

.ns-report-builder-container #mformat {
    margin-top:56px;
}

.uir-record-type .ns-report-builder-title {
    margin-left:10px;
    font-weight:normal;
}

a.ns-step-text.dottedlink {
    border-bottom: 1px dotted #505B80 !important;
}

/*Helper buttons on footer*/
[data-helperbutton-count]:hover > input:first-of-type:not([disabled]) ~ .uir-field-widget > a,
[data-helperbutton-count]:hover > textarea:first-of-type:not([disabled]) ~ .uir-field-widget:hover > a,
[data-helperbutton-count]:hover > select:first-of-type:not([disabled]) ~ .uir-field-widget > a,
span:hover > input:first-of-type:not([disabled]) ~ .uir-field-widget > a.i_calendar,  /*This selector is here because of sheduler portlet*/
input:first-of-type:focus ~ .uir-field-widget > a,
select:first-of-type:focus ~ .uir-field-widget > a,
textarea:first-of-type:focus ~ .uir-field-widget > a,
.uir-field-widget > a.i_timecalc,
.uir-field-widget > a.i_timer,
.uir-field-widget > a:not(:empty),
.uir-summary-field-helper > a
{
    visibility: visible !important;
}

.uir-report-footer-imgbtn {
    cursor: pointer;
    border: 0px;
}

.uir-report-footer-imgbtn-email {
    background: url('/images/sprite-list.png') no-repeat -50px -700px;
    width:  20px;
    height: 20px;
    vertical-align: top;
}

.uir-report-footer-imgbtn-printall {
    background: url('/images/sprite-list.png') no-repeat -50px -650px;
    width:  20px;
    height: 20px;
    vertical-align: top;
}

.uir-report-footer-imgbtn-xls {
    background: url('/images/sprite-list.png') no-repeat -50px -850px;
    width:  20px;
    height: 20px;
    vertical-align: top;
}

.uir-report-footer-imgbtn-word {
    background: url('/images/sprite-list.png') no-repeat -50px -950px;
    width:  20px;
    height: 20px;
    vertical-align: top;
}

.uir-report-footer-imgbtn-pdf {
    background: url('/images/sprite-list.png') no-repeat -50px -1000px;
    width:  20px;
    height: 20px;
    vertical-align: top;
}

.uir-report-footer-imgbtn-csv {
    background: url('/images/sprite-list.png') no-repeat -50px -1050px;
    width:  20px;
    height: 20px;
    vertical-align: top;
}

.uir-report-footer-imgbtn-webquery {
    background: url('/images/sprite-list.png') no-repeat -50px -900px;
    width:  20px;
    height: 20px;
}

.uir-report-footer-imgbtn-schedule {
    background: url('/images/sprite-list.png') no-repeat -46px -1203px;
    width:  20px;
    height: 20px;
    vertical-align: top;
}

.uir-report-footer-imgbtn-tableau {
    background: url('/images/sprite-list.png') no-repeat -50px -1350px;
    width:  20px;
    height: 20px;
}

.uir-report-footer-imgbtn-tableau-disabled {
    background: url('/images/sprite-list.png') no-repeat -50px -1400px;
    width:  20px;
    height: 20px;
    cursor: help;
}

.uir-report-footer-imgbtn-rptfindnext {
    background: url('/images/sprite-list.png') no-repeat -40px -1295px;
    width:  30px;
    height: 30px;
    padding: 3px;
}

.uir-report-footer-imgbtn-rptfindprev {
    background: url('/images/sprite-list.png') no-repeat -40px -1245px;
    width:  30px;
    height: 30px;
    padding: 3px;
}

.nlbuttontiny {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.reporttooltip { white-space:nowrap;padding:10px 10px 10px 10px;margin:0px 0px 0px 0px; font-size: 12px; opacity: 0.85; background-color: gray; color: white}

.uir-report-footer-imgbtn-email-disabled {
    background: url('/images/sprite-list-disabled.png') no-repeat -50px -700px;
    width:  20px;
    height: 20px;
    vertical-align: top;
}

.uir-report-footer-imgbtn-printall-disabled {
    background: url('/images/sprite-list-disabled.png') no-repeat -50px -650px;
    width:  20px;
    height: 20px;
    vertical-align: top;
}

.uir-report-footer-imgbtn-xls-disabled {
    background: url('/images/sprite-list-disabled.png') no-repeat -50px -850px;
    width:  20px;
    height: 20px;
    vertical-align: top;
}

.uir-report-footer-imgbtn-word-disabled {
    background: url('/images/sprite-list-disabled.png') no-repeat -50px -950px;
    width:  20px;
    height: 20px;
    vertical-align: top;
}

.uir-report-footer-imgbtn-pdf-disabled {
    background: url('/images/sprite-list-disabled.png') no-repeat -50px -1000px;
    width:  20px;
    height: 20px;
    vertical-align: top;
}

.uir-report-footer-imgbtn-csv-disabled {
    background: url('/images/sprite-list-disabled.png') no-repeat -50px -1050px;
    width:  20px;
    height: 20px;
    vertical-align: top;
}